## Data Analysis with Pandas
## Bike Rental Stats 
### Nick Dorkins 1/20/2021

In [2]:
# import os
# import glob
import pandas as pd
# os.chdir('./bikes')

In [3]:
# extension = 'csv'
# all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

# #combine all files in the list
# combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
# #export to csv
# combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [4]:
df = pd.read_csv('./bikes/combined_csv.csv')

In [5]:
df.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date,trip_id,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18.0,NaN,18.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16.0,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16.0,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14.0,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20.0,NaN,20.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# What is the average trip duration for a borrowed bicycle?
df['tripduration'].mean(skipna=True)

1178.3542840325176

In [9]:
# What’s the most common age of a bicycle-sharer?
year = df['birthyear']

average_age = 2021-year
average_age.mean(skipna=True)

41.24093790793873

In [17]:
# Given all the weather data here, find the average precipitation per month, and the median precipitation.

df[['Date']].sort_values('Date', ascending=False).head()

            Date
287247  9/9/2015
287246  9/8/2015
287245  9/7/2015
287244  9/6/2015
287243  9/5/2015

In [ ]:
# What’s the average number of bikes at a given bike station?

In [ ]:
# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [ ]:
# Come up with 3 more questions that can be answered with this data set.