## Data Analysis with Pandas
## Bike Rental Stats 
### Nick Dorkins 1/20/2021

In [71]:
# import os
# import glob
import pandas as pd
from datetime import date
# os.chdir('./bikes')

In [72]:
# extension = 'csv'
# all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

# #combine all files in the list
# combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
# #export to csv
# combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [73]:
df = pd.read_csv('./bikes/combined_csv.csv')

In [74]:
df.head()

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date,trip_id,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18.0,NaN,18.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16.0,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16.0,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14.0,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20.0,NaN,20.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# What is the average trip duration for a borrowed bicycle?
df['tripduration'].mean(skipna=True)

1178.3542840325176

In [76]:
# What’s the most common age of a bicycle-sharer?
year = df['birthyear']

average_age = 2021-year
average_age.mean(skipna=True)

41.24093790793873

In [77]:
# Given all the weather data here, find the average precipitation per month, and the median precipitation.

df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
average_precipitation = pd.DataFrame(df[['Month','Precipitation_In']]).groupby(df.Month).mean()

average_precipitation.sort_values('Precipitation_In', ascending=False)

       Month  Precipitation_In
Month
12.0    12.0          0.236290
10.0    10.0          0.189000
11.0    11.0          0.187833
2.0      2.0          0.168421
3.0      3.0          0.156935
1.0      1.0          0.143548
4.0      4.0          0.051333
9.0      9.0          0.041000
6.0      6.0          0.030500
8.0      8.0          0.018226
5.0      5.0          0.012419
7.0      7.0          0.012097

In [78]:
# and the median precipitation

median_percipitation = average_precipitation['Precipitation_In'].median()
median_percipitation

0.09744086021505376

In [79]:
# What’s the average number of bikes at a given bike station?
average_bikes = df['current_dockcount'].mean(skipna=True)
average_bikes

16.517241379310345

In [80]:
# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [81]:
# Come up with 3 more questions that can be answered with this data set.

In [82]:
# What is the most common gender for bike renters?
gender_stats = df['gender'].mode()[0]
gender_stats

'Male'

In [83]:
# What is the average temperature per month sorted in descending order?
 
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = df['Date'].dt.month
average_trips_per_month = pd.DataFrame(df[['Month','Mean_Temperature_F']]).groupby(df.Month).mean()

average_trips_per_month.sort_values('Mean_Temperature_F', ascending=False)

       Month  Mean_Temperature_F
Month
7.0      7.0           70.177419
8.0      8.0           69.596774
6.0      6.0           66.616667
9.0      9.0           62.566667
5.0      5.0           60.822581
10.0    10.0           58.840000
4.0      4.0           55.116667
3.0      3.0           51.048387
2.0      2.0           49.267857
11.0    11.0           46.800000
12.0    12.0           45.709677
1.0      1.0           45.225806

In [84]:
# What is the most frequently rented bike?

most_rented_bike = df['bikeid'].mode()[0]
most_rented_bike

'SEA00281'