## Data Analysis with Pandas
## Bike Rental Stats 
### Nick Dorkins 1/20/2021

In [49]:
import pandas as pd

In [50]:
df = pd.read_csv('./vgsales.csv')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [52]:
# Which company is the most common video game publisher?
most_published = df['Publisher'].mode()
most_published

0    Electronic Arts
dtype: object

In [53]:
# What’s the most common platform?
most_common_platform = df['Platform'].mode()
most_common_platform

0    DS
dtype: object

In [54]:
# What about the most common genre?
most_common_genre = df['Genre'].mode()
most_common_genre

0    Action
dtype: object

In [55]:
# What are the top 20 highest grossing games?
df[['Global_Sales','Name']].set_index('Global_Sales').sort_values('Global_Sales', ascending=False).head(20)

                                                      Name
Global_Sales
82.74                                           Wii Sports
40.24                                    Super Mario Bros.
35.82                                       Mario Kart Wii
33.00                                    Wii Sports Resort
31.37                             Pokemon Red/Pokemon Blue
30.26                                               Tetris
30.01                                New Super Mario Bros.
29.02                                             Wii Play
28.62                            New Super Mario Bros. Wii
28.31                                            Duck Hunt
24.76                                           Nintendogs
23.42                                        Mario Kart DS
23.10                          Pokemon Gold/Pokemon Silver
22.72                                              Wii Fit
22.00                                         Wii Fit Plus
21.82                                   Kinect Adventures!
21.40                                   Grand Theft Auto V
20.81                        Grand Theft Auto: San Andreas
20.61                                    Super Mario World
20.22         Brain Age: Train Your Brain in Minutes a Day

In [67]:
# For North American video game sales, what’s the median?
median_sales = df['NA_Sales'].median(skipna = True)
median_sales

0.08

In [66]:
# Provide a secondary output showing ten games surrounding the median sales output
# median_ten = df['NA_Sales'].median(10)
# median_ten

# df[['NA_Sales','Name']].set_index('NA_Sales').sort_values('NA_Sales', ascending=False).head(10)

# below_median = df[df['NA_Sales'] < df['NA_Sales'].median()][['Name','NA_Sales']].sort_values('NA_Sales').tail(5)

median_ten = df['NA_Sales'].median(axis = 0)
median_ten

0.08

In [58]:
# assume that games with same median value are sorted in descending order

In [102]:
# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

# top_seller = df[['NA_Sales', 'Name']].set_index('NA_Sales').sort_values('NA_Sales', ascending=False).head(1)

df[['Name', 'Global_Sales','NA_Sales','Rank']].sort_values('Rank').head(1)

#display top seller
# display NA sames of rank 1, run std

#find top seller
#find mean of NA sales


# top_seller
# df.std(axis = 1, skipna = True)

         Name  Global_Sales  NA_Sales  Rank
0  Wii Sports         82.74     41.49     1

In [110]:
df['NA_Sales'].std(axis = 0, skipna=True)

0.8166830292988796

In [98]:
# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?
# df[['Global_Sales','Platform']].set_index('Global_Sales').sort_values('Global_Sales', ascending=False).head(20)

             Platform
Global_Sales
82.74             Wii
40.24             NES
35.82             Wii
33.00             Wii
31.37              GB
30.26              GB
30.01              DS
29.02             Wii
28.62             Wii
28.31             NES
24.76              DS
23.42              DS
23.10              GB
22.72             Wii
22.00             Wii
21.82            X360
21.40             PS3
20.81             PS2
20.61            SNES
20.22              DS

In [61]:
# Come up with 3 more questions that can be answered with this data set.